<div class="container mt-2">
  <div class="row ">

    <div class=" col-md-4">
      <div class="card registro">
        <div class="card-header bg-light text-center">
          <h3 class="font-weight-bold">Registrarse</h3>
        </div>

        <div class="card-body">
          <form (ngSubmit)="registrarUser()" #formRegistro="ngForm">
            <div class="form-group">
              <h5 for="Nombre">Nombre</h5>

              <input type="text" name="nombre" [(ngModel)]="user.nombre" #nombre="ngModel"
                [ngClass]="{'is-invalid': nombre.invalid && nombre.touched}" class="form-control" required>

              <div *ngIf="nombre.invalid && nombre.touched" class="alerta">
                Debes completar el nombre.
              </div>
            </div>

            <div class="form-group">
              <h5 for="Apellido">Apellido</h5>
              <input type="text" name="apellido" [(ngModel)]="user.apellido" class="form-control" #apellido="ngModel"
                [ngClass]="{'is-invalid': apellido.invalid && apellido.touched}" required>

              <div *ngIf="apellido.invalid && apellido.touched" class="alerta">
                Debes completar el apellido.
              </div>
            </div>

            <div class="form-group">
              <h5 for="Nombre">Email</h5>
              <input type="email" name="email" [(ngModel)]="user.email" class="form-control" #email="ngModel"
                [ngClass]="{'is-invalid': email.invalid && email.touched}" required>

              <div *ngIf="email.invalid && email.touched" class="alerta">
                Debes completar el email.
              </div>
            </div>

            <div class="form-group">
              <h5 for="Nombre">Contraseña</h5>
              <input type="password" name="password" [(ngModel)]="user.password" class="form-control"
                #password="ngModel" [ngClass]="{'is-invalid': password.invalid && password.touched}" required>

              <div *ngIf="password.invalid && password.touched" class="alerta">
                Debes completar el password.
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-secondary btn-lg btn-block text-primary"
                [disabled]="formRegistro.invalid">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>